

.card-img-top{
  width: 300px;
  padding: 25px;
  margin-left: 60px;
}

.c-principal{
  margin: 20px;
  width: 500px;
}

.account-card{
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.btn {
  margin: 20px;
}

.first-nav{
  margin-right: 500px;
}

